<li class="listed_user">
  <% if !current_user.nil? && !current_user.moderator? %>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% else %>
  <tr><td><%= link_to user.name, user %></td> <td><%= user.email %></td> <td><%= user.total_points %></td></tr>
  <% end %>
  <% if !current_user.nil? && current_user.admin? && !current_user(user) %>
  	<%= link_to "Delete This User", user, method: :delete, data: { confirm: "Are you absolutely sure? This will delete the user from Pipeline." } %>
  	<!-- link_to below currently just deletes the user -->
  	<%= link_to "Make This User A Moderator", user, method: :delete, data: { confirm: "Are you absolutely sure? This will grant the user the ability to create events, allocate points for events, and unlock events." } %>
  	<% end %>
</li>
<br>