<div class="row">
  <div class="form-area">
  <div class="orga-signin">Reset Your Password</div><style>.orga-signin {text-align: center; font-size: 2.5em; margin-top: 1em; }</style>
<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>

   </div>
</div>