<% provide(:title, @user.name) %>
<div class="ccontainer">
	
	    <div class="bwell centext">
	      <li class='bwchild'>
	        <%#= gravatar_for @user %> 
	        <%= @user.name %> (<%= @user.total_points %> pts)
	        </li>

	        <li class='bwchild'>
	        </li>
	        <li class='bwchild'>
	        </li><li class='bwchild'>
	        </li>


	        <li class='bwchild pane'>
	        <% if !current_user.nil? && current_user.moderator? %>
	         (<%= @user.email %>) 	
	         <% else %>
	         <% end %>

	         <%= link_to 'Event History', '/users/' + @user.id.to_s + '/attending' %>
	        </li>

	         <!--
	        <li class='bwchild'> 
	        <%#= render 'shared/stats' %>
	      	</li>
	      	-->
	        	
	      
	         <li class="bwchild pane blue">Organizations (Coming Soon)</li>
	         <li class="bwchild pane"><%= link_to "Settings", edit_user_registration_path %></li>
           <li class="bwchild pane"><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
	        
	         	
	         

	    </div>
	  
	  
	
</div>
