<% provide(:title, @user.name) %>
<div class="ccontainer">
	
	    <div class="bwell">
	      <li class='bwchild'>
	        <%#= gravatar_for @user %> 
	        <%= @user.name %> <%= @user.total_points %>
	        </li>
	        <li class='bwchild'>
	        <% if !current_user.nil? && current_user.moderator? %>
	         (<%= @user.email %>) 	
	         <% else %>
	         <% end %>
	         </li>

	        <li class='bwchild'> 
	        <%= render 'shared/stats' %>
	      
	        <%= link_to 'Event History', '/users/' + @user.id.to_s + '/attending' %>	
	      
	         <li><%= link_to "Settings", edit_user_path(current_user) %></li>
             <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
	        Member of: (Coming Soon)	
	        </li>

	    </div>
	  
	  
	
</div>
