<!-- Show @user.name if it's truncated, else don't show it -->

<% provide(:title, @user.name) %>
<div class="ccontainer">
	
	    <div class="bwell centext">
	    <!--
	      <li class='bwchild'>
	        <%#= gravatar_for @user %> 
	        <%#= @user.name %> 
	        </li>
				-->
<div class='bwchild'><%= image_tag('hsa.jpg', class: 'org-img-full bwchild', :alt => 'org-img') %></div>


	        <li class='bwchild pane'>
	        	<%= link_to "Groups", root_path %>
	        </li>
	        


	        <li class='bwchild pane'>
	        <% if !current_user.nil? && current_user.moderator? %>
	         (<%= @user.email %>) 	
	         <% else %>
	         <% end %>

	         <%= link_to 'Event History', '/users/' + @user.id.to_s + '/attending' %>
	        </li>

	         <!--
	        <li class='bwchild'> 
	        <%#= render 'shared/stats' %>
	      	</li>
	      	-->
	        		         
	         <li class="bwchild pane"><%= link_to "Settings", edit_user_registration_path %></li>
           <li class="bwchild pane"><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
	    </div>
	  
	  
	
</div>
<style>body{background: #fff;}</style>