<% provide(:title, @user.name) %>
<div class="container">
	
	    <div class="ushow-wrapper"><style>.ushow-wrapper { margin: 0 auto; }</style>
	      <h1>
	        <%= gravatar_for @user %>
	        <%= @user.name %>
	        <%= render 'shared/stats' %>
	        <br>
	        	Points: <%= @user.total_points %>
	      </h1>
	      <%= render 'layouts/calendar' %>
	    </div>
	  
	  <div class="span8">
	  
	  	<% if @user.events.any? %>
	  		<h3>Events Attended: <%= @user.events.count %></h3>
	  			<ol class="events">
	  				<%= render @events %>
	  			</ol>
	  			<%= will_paginate @events %>
	  	<% end %>
	  </div>
	
</div>
