<div class="ccontainer">
<div class='event_form'>
<% if !current_user.nil? && current_user.moderator? %>
<%= form_for(@event) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :comment %>
      <%= f.text_area :comment %>

      <%= f.label :points %>
      <%= f.number_field :points %>
     
     <h2>Starts at:</h2>
      <%= f.datetime_select :start_time, :ampm => true, :minute_step => 5 %>
      <h2>Ends at:</h2>
      <%= f.datetime_select :end_time, :ampm => true, :minute_step => 5 %>

      <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
    <% end %>
    <% else %>
    <% end %>
</div>
</div>

<!-- Organization, etc.(not urgent) still to be added in this form when creating an event -->
