
<div class='content_container'>
<div class='bwell'>
<div class='event_form'>
<% if !current_user.nil? && current_user.moderator? %>
<%= form_for(@event) do |f| %>

   
      <%= f.text_field :title, placeholder: "Title" %>

   
      <%= f.text_area :comment, placeholder: 'Description' %>

   
      <%= f.number_field :points, placeholder: 'Points' %>
     
     <h2>Starts at:</h2>
      <%= f.datetime_select :start_time, :ampm => true, :minute_step => 5 %>
      <h2>Ends at:</h2>
      <%= f.datetime_select :end_time, :ampm => true, :minute_step => 5 %>

      <%= f.submit "Create Event", class: "btn btn-large btn-primary" %>
    <% end %>
    <% else %>
    <% end %>
</div>
</div>
</div>


<!-- Organization, etc.(not urgent) still to be added in this form when creating an event -->
