
<style>h3 {text-align: center;}</style>
<% if current_user.nil? || !current_user.moderator? %>


  
        <%= render 'shared/stats' %>
       
    
      <h3 class='centext'><%= @organization.name %> Members</h3>
      <% if @users.any? %>
      <div class='center-wrapper'>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
        </div>
      <% end %>
   



<% else %>
<!-- Will sort this out once checkin button works -->

      <section>
        <%= render 'shared/stats' %>         
      </section>
   <h3 class='centext'><%= @organization.name %> Members</h3>

    <div class='bwell'>
      <% if @users.any? %>
          <%= render @users %>
      <% end %>
    </div>
 
  <% end %>