<div class='well'>
  <li>
  <span class="event_title"> <%= link_to event.title, event %></span><style>.event_title {font-size: 2.5em;}</style>
  <style>.points { font-size: 1.25em; }</style>
  <span class="comment well"><%= event.comment %></span>
  <span class="points">Worth: <%= event.points %> pts.</span>
  <br>
  <!-- <span class="event_time">Happening at: <%= event.event_time %></span> 
  <br> Datetime is tricky but will be added once it can be created in correct format -->
  <span class="timestamp">
    <!--Created <%= time_ago_in_words(event.created_at) %> ago.<br>-->
    Starts: <%= time_tag event.start_time %> <%#= distance_of_time_in_words(Time.zone.now, event.start_time) %><br>
    Countdown: <%= distance_of_time_in_words(Time.zone.now, event.start_time) %><br>
    Ends: <%= distance_of_time_in_words(Time.zone.now, event.end_time) %> later<br>
  </span>
  
    <% if !current_user.nil? && current_user.moderator? %>
    <%= link_to "Unlock Event", event, method: :patch %>
    
    
    <%= link_to "delete", event, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: event.comment %>
  <% else %>
  <% end %>
</li>
</div>