<% provide(:title, @event.title) %>
<div class="ccontainer">
	
	    <section>
	      <div class="bwell">
	      <h1>
	      	<li class='bwchild event_title'><%= @event.title %>
		      	
		      <% if !current_user.attending?(@event) && @event.checkincode.nil? %>
		      	<div class="locked-event">[Locked]</div>
		      <% else %>
			      <% if !current_user.attending?(@event) %>
			      	<div class="unlocked-event">[Unlocked]</div>
			      <% else %>
			      	<span class="unlocked-event">[Checked In]</span>
			      <% end %>
		       <% end %>
	      
	      <h2>
	      </li>
	      <li class='bwchild  bwell'>
	      	<h4><%= @event.comment %></h4>  
	      </li>
	      
	      	 <li class='bwchild'>
	        <%= render 'shared/statse' %>
	         </li>
	        <li class='bwchild'>
	        <% if !current_user.attending?(@event) %>
	        	Value: 	       
	        <% else %>
	        	Earned: +
	        <% end %>
	       
	        <%= pluralize(@event.points, 'pt.', 'pts.') %>
	        </li>
	         <li class='bwchild event_title'>
	        <%= render 'attend_form' if signed_in? %>
	        <% if current_user.moderator? %>
	         Checkin code:  <%= @event.checkincode %>
	        <% else %>
	        <% end %>
	        </li>
	      </h2>
	      </div>
	    </section>
	 
	
</div>