<% provide(:title, @event.title) %>
<div class='img_stretch'><%= image_tag('hsa.jpg', class: 'org-img-full', :alt => 'org-img') %></div>
<div class="ccontainer">
	
	    <section>
	      <div class="bwell">
	      <h1>
	      	<li class='bwchild event_title'><%= @event.title %>
		    
	      	<div>
		      <% if !current_user.attending?(@event) && @event.checkincode.nil? %>
		      	<span class="locked-event">[Locked]</span>
		      <% else %>
			      <% if !current_user.attending?(@event) %>
			      	<span class="unlocked-event">[Unlocked]</span>
			      <% else %>
			      	<span class="unlocked-event">[Checked In]</span>
			      	Earned: +
			      <% end %>
			      
		       <% end %>
	      <li class='points centext'>(<%= pluralize(@event.points, 'pt.', 'pts.') %>)</li>
	      	</div>
	      <h2>
	      </li>


	      <li class='bwchild bwell'>
	      	<h4><%= @event.comment %></h4>  
	      </li>
	      
	      	 <li class='bwchild'>
	        <%= render 'shared/statse' %>
	         </li>
	        
	         <li class='bwchild event_title'>
	        <%= render 'attend_form' if signed_in? %>
	        <% if current_user.moderator? %>
	         Checkin code:  <%= @event.checkincode %>
	        <% else %>
	        <% end %>
	        </li>
	      </h2>
	      </div>
	    </section>
	 
	
</div>