<% provide(:title, @event.title) %>
<% if !current_user.nil? && !current_user.moderator? %>
<div class="container">

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/stats' %>
          </div>
      </section>
    </aside>
    <div class="span8">
      <h3><%= @event.title %> Attendance</h3>
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </div>
</div>

<% else %>
<% provide(:title, @event.title) %>
<div class="container">
      <section>
        <%= render 'shared/stats' %>         
      </section>
    <div class="panel panel-default">
    <div class="panel-heading"><h3><%= @event.title %> Attendance</h3><style>h3 {text-align: center;}</style></div>
    <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>      
    </tr>  
    </thead>
    <tbody>
      <% if @users.any? %>
          <%= render @users %>
      <% end %>
    </tbody>
    </table>
    </div>
  </div>
<% end %>