<div class='bwell'>
  <li class='bwchild text1-5'>
  <%= link_to image_tag('hsa.jpg', class: 'org-img', :alt => 'org-img'), 
        organization_url(organization.id) %>
  <%= link_to organization.name, organization %>
  </li>
  <div class='bwchild'>
  <span class="comment"><%= organization.description %></span>
  <span class="points"><%= pluralize(organization.joiners.count, 'member') %></span> <!-- Add members here -->
  </div> 
  
    <%# if current_user.gleader %>
      <%#= link_to "View Members", organization %>
    <%# else %>
    <%# end %>
    <% if !current_user.nil? && current_user.admin? %>
    <%= link_to "delete", organization, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: organization.name %>
  <% else %>
  <% end %>

</div>