<% provide(:title, @organization.name) %>
<% if !current_user.nil? || !current_user.moderator? %>
<div class="ccontainer">


        <%= render 'shared/stats' %>
       
    
      <h3><%= @organization.name %> Members</h3>
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    
</div>


<% else %>
<!-- Will sort this out once checkin button works -->
<% provide(:title, @organization.name) %>
<div class="ccontainer">
    
        <%= render 'shared/stats' %>         
     
    <div class="bpanel bpanel-default">
    <div class="bpanel-heading"><h3><%= @organization.name %> Members</h3><style>h3 {text-align: center;}</style></div>
    <table class="btable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>      
    </tr>  
    </thead>
    <tbody>
      <% if @users.any? %>
          <%= render @users %>
      <% end %>
    </tbody>
    </table>
    </div>
  </div>
  <% end %>