<% provide(:title, @organization.name) %>
<div class="ccontainer">
<div class='bwell'>
<div class='bwchild'><%= image_tag('hsa.jpg', class: 'org-img-full bwchild', :alt => 'org-img') %></div>
<div class='bwell bwchild'>
<h4><%= @organization.description %></h4>
<h2><%= pluralize(@organization.joiners.count, 'member') %></h2>
</div>


<% if current_user.nil? %>
	<h3><%= link_to "Login/Signup First to Join #{@organization.name}",	 signin_path %></h3>
	<!-- Future(had troubles implementing) -after the user logs in they are redirected to this page or even better, have already joined the organization -->
<% elsif current_user.joined?(@organization) %>	
<% else %>
	<%= form_for(current_user.ou_rels.build(joined_id: @organization.id)) do |f| %>
  	<div><%= f.hidden_field :joined_id %></div>
  	<%= f.submit "Join This Organization", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>
</div>
<%= render 'shared/members' %>
</div>