<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/icon.png">
  <title>Pipeline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="apple-touch-icon" href="images/pl_icon_live.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- iPhone 5 (iOS 6 & 7) -->
        <link href="images/apple-touch-startup-image-640x1096.png"
              media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
 
        <!-- iPhone (iOS 6 & 7 retina) -->
        <link href="images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
        <!-- iPhone (iOS 6 & 7) -->
        <link href="images/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">

  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/header' %>
<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>

</body>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec tincidunt arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sit amet tellus turpis. Ut nec laoreet lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris congue eros a neque aliquet, nec scelerisque nisl pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Phasellus eu pellentesque tortor. Sed tincidunt, justo in hendrerit hendrerit, arcu enim porttitor purus, vitae lobortis est velit bibendum augue. Nulla a tincidunt turpis, vel dapibus enim. Donec varius diam quis metus hendrerit, ut sagittis mi sodales.

Donec hendrerit, risus ac ultricies viverra, ante arcu elementum justo, in viverra orci tellus consequat lectus. Sed commodo vulputate sem et pulvinar. Integer eget tincidunt libero. Nulla sagittis mauris vitae risus pulvinar, sit amet sagittis mi viverra. Ut ac purus urna. Donec eu venenatis orci. Donec a suscipit felis. Pellentesque sed luctus tortor, eu tincidunt eros. Nam porta mi tellus, in dapibus libero rhoncus sed. Curabitur ante arcu, ultrices ac congue sit amet, dictum quis justo.

Pellentesque imperdiet rhoncus elit in tristique. Pellentesque at ornare ipsum, et ultricies metus. Quisque sed nunc metus. Etiam gravida nunc urna, ac mollis enim porttitor et. Morbi dignissim mi ac velit egestas venenatis id ut tortor. Mauris laoreet nibh nec odio fermentum, in dapibus est dignissim. Sed odio eros, pharetra non sem sed, sagittis mollis libero. Sed id diam elit. Vestibulum pellentesque sollicitudin eros, at iaculis nunc elementum eget. Integer congue metus ac euismod faucibus. Aliquam suscipit varius mauris, sed sodales nisl dignissim vitae. Nam et arcu vel elit iaculis dignissim. Aenean congue mi in metus consequat vehicula.

Fusce sit amet commodo augue, vitae consectetur ipsum. Nunc feugiat rutrum tellus in faucibus. In dui odio, lacinia sagittis aliquam in, feugiat sed est. Integer volutpat dolor id dignissim condimentum. Donec et turpis mattis, mattis massa id, blandit massa. Suspendisse quis viverra nulla, vel auctor velit. Phasellus ut auctor dui, nec hendrerit massa. In aliquet eu diam mattis elementum. Donec libero mauris, varius eget augue ut, elementum iaculis felis. Aenean sed diam eu metus aliquam ultricies nec et tortor. Cras lobortis nec massa ultrices fringilla. Nulla molestie enim at euismod gravida. Integer consectetur sit amet eros eget facilisis. Morbi sit amet mollis lacus.

Ut non ex vitae enim placerat dignissim a in ligula. Sed hendrerit tortor ut nibh faucibus facilisis non quis orci. Suspendisse vel sem vitae libero pharetra congue. Aliquam placerat tempus magna, eget gravida nisl sagittis in. Nullam sit amet ex feugiat, volutpat nisi vel, tempus sapien. In sollicitudin, mauris eget euismod ullamcorper, nunc sapien mollis nunc, at semper nibh nunc in orci. Cum sociis natoque penatibus et magnis dis parturient mo
<%= render 'layouts/footer' %>
</html>



