<!DOCTYPE html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/icon.png">
  <title>Pipeline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true %>
  <link rel="apple-touch-icon" href="images/pl_icon_live.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- iPhone 5 (iOS 6 & 7) -->
        <link href="images/apple-touch-startup-image-640x1096.png"
              media="(device-width: 320px) and (device-height: 568px)
                 and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
 
        <!-- iPhone (iOS 6 & 7 retina) -->
        <link href="images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
 
        <!-- iPhone (iOS 6 & 7) -->
        <link href="images/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px)
                 and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">

  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/header' %>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

</body>
<div class="temp_devise_nav"><style>.temp_devise_nav {margin: 80px;}</style>
<% if user_signed_in? %>
  <%#= link_to "Profile Settings", edit_user_registration_path %>
  <%#= link_to 'SignOut', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'SignUp', new_user_registration_path %>
  <%#= link_to 'SignIn', new_user_session_path %>
  <%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
</div>
<%= render 'layouts/footer' %>
</html>



